<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head"); %>
    <link rel="stylesheet" href="../public/css/book.css" type="text/css" />
  </head>
  <body>
    <div class = "container">
      <% let title = url.substring(34, url.length) %>
      <% let bookTitle = title.replace(/%20/g, " ") %>
      <% bookTitle = bookTitle.replace(/%27/g, `'`) %>
      <h3> <%= bookTitle %> </h3>
      <% for (let i = 0; i < book["items"].length; i++) { %>
        <% if (book["items"][i]["volumeInfo"]["title"] === bookTitle) {%>
          <h5> <%= book["items"][i]["volumeInfo"]["subtitle"] %> </h5>
          <h5> <%= book["items"][i]["volumeInfo"]["authors"] %></h5>
          <div id = "img">
            <img src=<%= book["items"][i]["volumeInfo"]["imageLinks"]["smallThumbnail"] %>/>
          </div>
          <br>
          <div class = "buttons">
            <form action = "/addToBookshelf" method = "POST">
              <button id = "button" onclick = "addToBookshelf()" > Add to my bookshelf </button>
            </form>
            <form action = "markAsRead" method = "POST">
              <button id = "button" onclick = ""> Mark as Read </button>
            </form>
          </div>
          <br>
          <p> <%= book["items"][i]["volumeInfo"]["description"] %></p>
          <% break %>
          <% } %>
        <% } %>
        <br>
        <h3> Reviews </h3>
        <div class = "reviews">

        </div>
        <button>  <a href ="/review?title=<%= bookTitle %>"> Submit a review </button> </button>
       
    </div>
    <script src= "../public/javascript/addToBookshelf.js" >

      /*function openPopup() {
        console.log("function called");
        let popup = document.getElementbyId("popup");
        popup.classList.add("open-popup");
      }

      function closePopup() {
        let popup = document.getElementbyId("popup");
        popup.classList.remove("open-popup");
      } */

    </script>
</body>
</html>