<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head"); %>
    <link rel="stylesheet" href="../public/css/book.css" type="text/css" />
  </head>
  <body>
    <div class = "container">
      <h3> <%= book["volumeInfo"]["title"] %> </h3>
          <h5> <%= book["volumeInfo"]["subtitle"] %> </h5>
          <h5> <%= book["volumeInfo"]["authors"] %></h5>
          <div id = "img">
            <img src=<%= book["volumeInfo"]["imageLinks"]["smallThumbnail"] %>/>
          </div>
          <br>
          <div class = "buttons">
            <form action = "/addToBookshelf?bookID=<%=bookID%>" method = "POST">
              <button id = "button" type="submit"> Add to my bookshelf </button>
            </form>
            <form action = "/markAsRead?bookID=<%=bookID%>" method = "POST">
              <button id = "button" type = "submit"> Mark as Read </button>
            </form>
          </div>
          <br>
          <p> <%= book["volumeInfo"]["description"] %></p>
        <br>
        <h3> Reviews </h3>
        <div class = "reviews">

        </div>
        <button>  <a href ="/review?title=<%= book["volumeInfo"]["title"] %>"> Submit a review </button> </button>
       
    </div>
</body>
</html>