<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head"); %>
    <link rel="stylesheet" href="../public/css/profile.css" type="text/css" />
  </head>
  <body>
    <div class = "container">
      <h1> Hi <%= user.name %>!</h1>
      <div class= "liked_books">
        <h2> My Liked Books</h2>
      </div>
      <h2> TBR </h2>
      <% if (tbrShelf.length != 0) { %>
      <div class = "to_be_read">
        <% for (let i = 0; i < tbrShelf.length; i++) { %>
          <div class = "item">
            <% var bookTitle = tbrShelf[i]["volumeInfo"]["title"] %>
            <a href = "/book/?title=<%= bookTitle %>" id = "book_title"> <%= tbrShelf[i]["volumeInfo"]["title"] %> </a>
            <h6> <%= tbrShelf[i]["volumeInfo"]["authors"] %></h6>
            <div class = "image">
              <img src=<%= tbrShelf[i]["volumeInfo"]["imageLinks"]["thumbnail"] %>/>
            </div>
            <br>
          </div>
          <% } %>
      </div>
      <% } %>
      <div class = "my_reviews">
        <h2> My Reviews</h2>
      </div>
      <h2> Looking for something new? Search our catalog <a href = "/search"> here! </a></h2>
      <a href = "/logout"> Log Out </a>
    </div>
    </body>
    </html>