<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head"); %>
  </head>
  <body>
    <div class = "container">
        <h1> Search for anything </h1>
        <form action = "/author/:id" method = "post">
            <input type="text" placeholder="Search for anything" name = "searchTerm">
            <input type = "submit"> 
        </form>

        <table>
          <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <td> <%= data["items"][i]["volumeInfo"]["title"] %></td>
            <td> <%= data["items"][i]["volumeInfo"]["subtitle"] %> </td>
            <td> <%= data["items"][i]["volumeInfo"]["authors"] %></td>
            <td> <%= data["items"][i]["volumeInfo"]["description"] %></td>
            <td> <%= data["items"][i]["volumeInfo"]["categories"] %> </td>
          </tr>
          <% } %>
        </table>>
   </div>
  </body>
</html>

<% for (let i = 0; i < toBeRead.length; i++) { %> 
  <% } %>
  
{"name":"Shea","password":"$2a$10$exmk7STi.p5TtlWRtSoMQu9iCVlLIAXrBybE4YxczFGSg.cP7prAW","email":"shea@yahoo.com","_id":"6350d968fdba802b029e0d73","__v":0}


for (let i = 0; i < req.user.toBeRead.length; i++) {
  request(`https://www.googleapis.com/books/v1/volumes/${req.user.toBeRead[i]}`, {json: true}, async (err, res, body) => {
    if (err) { return console.log(err); }
    //console.log("body = ", body);
    tbrShelf.push(body);
    console.log("array = ", tbrShelf.length);
  });
}

<p> <%= markAsRead.length %></p>