<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head"); %>
    <link rel="stylesheet" href="../public/css/author.css" type="text/css" />
  </head>
  <body>
    <div class = "container">
        <h1> Search for anything </h1>
        <form action = "/search" method = "post">
            <input type="text" placeholder="Search for anything" name = "searchTerm">
            <input type = "submit"> 
        </form>
        <br>
        <div id= "searchResults"> 
          <% if (book != null) { %>
            <div class = "results">
                <% for (let i = 0; i < book["items"].length; i++) { %>
                  <div class = "item">
                    <% var bookTitle = book["items"][i]["volumeInfo"]["title"] %>
                    <a href = "/book/?title=<%= bookTitle %>" id = "book_title"> <%= book["items"][i]["volumeInfo"]["title"] %> </a>
                    <h4> <%= book["items"][i]["volumeInfo"]["title"] %></h4>
                    <h6> <%= book["items"][i]["volumeInfo"]["subtitle"] %> </h6>
                    <h6> <%= book["items"][i]["volumeInfo"]["authors"] %></h6>
                    <p> <%= book["items"][i]["volumeInfo"]["categories"] %> </p>
                    <div class = "image">
                      <img src=<%= book["items"][i]["volumeInfo"]["imageLinks"]["thumbnail"] %>/>
                    </div>
                    <br>
                  </div>
                  <% } %>
              </div>
            </div>
            <% } %>
        </div> 
   </div>
  </body>
</html>